h1 {
  text-align: center;
}
.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: var(--grid-spacing-horizontal);
  grid-row-gap: var(--grid-spacing-vertical);
}
.movie-card {
  border: 1px solid #1f1f1f;
  box-shadow: 0 0 10px #fff;
  background: hsl(205 25% 21% / 1);
  transition: transform 0.2s;
}
/* .movie-card:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
} */
.movie-card h3 {
  width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
