h1,
p {
  text-align: center;
}
a {
  margin-left: 20px;
}
.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: var(--grid-spacing-horizontal);
  grid-row-gap: var(--grid-spacing-vertical);
}
.movie-card {
  border: 1px solid #1f1f1f;
  box-shadow: 0 0 10px #fff;
  background: hsl(205 25% 21% / 1);
  transition: transform 0.2s;
}

.movie-card h3 {
  width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.action {
  margin: inherit;
  display: flex;
  justify-content: end;
}

.refresh-btn {
  margin: 0;
  width: 62px;
  height: 62px;
}

.home-bar {
  display: flex;
  justify-content: space-evenly;
}

.form-input {
  margin: 0 auto;
  width: 500px;
}
